<footer class="Footer">
  <div class="Footer-border">
    ==============================================================================================================================================================
  </div>
  <div class="Footer-inner">
    <div class="Footer-source">
      <a href="https://github.com/GaloyMoney" target="_blank" rel="noopener nofollow">Source available on Github</a>
    </div>
    <div class="Footer-contact">
      <a href="mailto:hello@galoy.io">Contact Us</a>
    </div>
  </div>
</footer>
