.Header {
  margin-bottom: 0.75rem;

  &-border {
    opacity: 0.4;
    margin-top: 0.4rem;
    overflow: hidden;
    user-select: none;
    color: $border-color;
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $mid-screen) {
      flex-direction: column;
      gap: 1rem;
    }
  }

  &-logo {
    font-size: 2.2rem;

    a {
      color: $primary-color;
      text-decoration: none;
    }

    @media (max-width: $small-screen) {
      font-size: 1.8rem;
    }
  }

  &-nav-container {
    display: flex;
    gap: 3rem;
    align-items: center;

    @media (max-width: $mid-screen) {
      flex-direction: column;
      gap: 1rem;
    }
  }

  &-nav {
    display: flex;
    font-size: 1.3rem;

    @media (max-width: $small-screen) {
      font-size: 1.1rem;
      flex-direction: column;
      gap: 1rem;
      text-align: center;
    }

    a {
      color: $font-color;
      opacity: 0.8;
      margin-left: 1.5rem;
      text-decoration: none;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        color: $primary-color;
        opacity: 1;
      }

      @media (max-width: $small-screen) {
        margin-left: 0;
      }
    }
  }

  &-social {
    display: flex;
    gap: 1.5rem;
    font-size: 1rem;

    @media (max-width: $small-screen) {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }

    a {
      color: rgba($font-color, 0.6);
      text-decoration: none;
      
      &:hover {
        color: $primary-color;
      }
    }
  }
}
